.clearfix::after {
    content: '';
    display: table;
    clear: both;

}

.sticky {
  position: fixed;
  top: -76px;
  z-index: 190;
}
.sticky-refresh {
  position: fixed;
  z-index: 190;
}
.sticky-2{
     transform: translateY(+76px);
}

.sticky + .fb-header {
  padding-top: 102px;
}

.mt8 {
    margin-top: 80px;
}

.mb8 {
    margin-bottom: 80px;
}
hr {
    height: 0;
    margin: 21px 0;
    border-width: 0;
    border-top: 1px solid #bdb5af;
}

a{
     text-decoration: none;
}

.fsp{
     font-size: 1.375rem
}

.fs50{
     font-size: 50px;
}

.fs15{
     font-size: 15px;
     font-weight: 100;
}

.fs26{
     font-size: 26px;
}
.underline{
     text-decoration: underline;
}
.fs18{
     font-size: 18px;
}

.mb30{
     margin-bottom: 30px;
}
.pt90{
     padding-top: 100px;
}
.pr150{
     padding-right: 150px;
}
.pl150{
     padding-left: 150px;
}
.mb100{
     margin-bottom: 100px;
}

.column{
     flex-direction: column;
}

.text-center{
     text-align: center;
}

.mt20{
     margin-top: 20px;
}

.pt20{
     padding-top: 20px;
}

.mb40{
     margin-bottom: 40px;
}

.container-fluid {
     width:100vw;
}
.border{
     border-bottom: 1px solid black;
}
.wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
}

.row {
     display: flex;
     width: 100vw - 10vw;
}

.bg-white{
     background-color: white;
}

.bg-secondary{
     background-color: $secondary_color;
}

.title-lh{
     line-height: 1.533334;
}

.btn{
     cursor: pointer;
     position: relative;
     padding: 7px;
     border-radius: 7px;
     font-size: 0.875rem;
     background-color: white;
     border: 1px solid #30488f;
     width: 100px;
}

small{
     font-size: .8125rem;
     color: #bdb5af;
}

.pt50 {
    padding-top: 50px;
}
.pb50 {
    padding-bottom: 50px;
}
