.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container-fluid {
     width:100vw;
}

.wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
}

.row {
     display: flex;
     width: 100vw - 20vw;
}

.bg-white{
     background-color: white;
}
