.fb-header{
     font-size: .875rem;
     height: 70px;
     margin-bottom: 40px;
     color: $primary_color;
     .wrapper{
          .row{
               padding: 20px 0;
               border-bottom: 1px solid black;
               .nav-sx {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 60%;

               }
               .nav-dx {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 40%;
                    ul{
                         padding: 0 10px;
                    }
                    svg{
                         position: absolute;
                         left: 10px;
                    }
                    button{
                         a{
                              padding-left: 20px;
                              color: #58402c;

                         }
                    &:hover{
                         background-color: #30488f;
                         a{
                              color: white;
                         }
                         svg{
                              fill: #fff !important;
                         }
                    }
                    }
               }
          }


     }

}
