.fb-main{
     color: $primary_color;
     margin-top: 100px;
     margin-bottom: 100px;
     .main-sx{
          .fa-arrow-right{
               padding-left: 10px;
          }
     width: 48%;
     line-height: 1.4;
     small{
          margin: 0 10px;
     }
               .btn-main{
                    width:180px;
                    padding-left: 20px;
                    background-color: $link_color;
                    a{
                         color: white;
                    }
                    svg{
                         position: absolute;
                         left: 10px;
                    }


               }
     }
     .main-dx{
          margin-left: 5%;
          width: 47%;
          img{
               width:100%;
          }
     }
}
.fb-main-2{
     color: $primary_color;
     margin-top: 30px;
     margin-bottom: 30px;
     .fb-header-2{
          max-width: 628px;
         margin: 0 auto;
         text-align: center;
         font-size: 1.125rem;
     }
     .cards{
          width:860px;
          height: 235px;
          .card{
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               width: 286px;
               img{
                    width: 140px;
               }

          }
          .card:last-child img{
               width: 100px;
               padding-bottom: 20px;
          }
          .safe img{
               width: 100px;
               height: 130px;
               padding: 0;
               object-fit: contain;
          }
          .card:last-child p{
               padding-bottom: 5px;
          }
          .card:first-child img{
               padding-bottom: 20px;
          }
          .card:first-child p{
               width:215px;
          }
          p{
               width:200px;
          }
     }
     .img-before{

          img {
               width: 280px;
          }

     }
}
