.fb-main{
     color: $primary_color;
     margin-top: 100px;
     margin-bottom: 100px;
     .main-sx{
     width: 48%;
     line-height: 1.4;
     small{
          margin: 0 10px;
     }
               .btn-main{
                    width:180px;
                    padding-left: 20px;
                    background-color: $link_color;
                    a{
                         color: white;
                    }
                    svg{
                         position: absolute;
                         left: 10px;
                    }

               }
     }
     .main-dx{
          margin-left: 5%;
          width: 47%;
          img{
               width:100%;
          }
     }
}
